* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #EA8D8D, #A890FE);
  color: rgb(223, 218, 210);
  font-family: 'Delius', sans-serif;
  min-height: 100vh;
  width: 100%;
}

h2 {
  font-size: 2.5rem;
}

.logo {
  height: 10vh;
}

header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7%;
  width: 100%;
}

.input-filter-block {
  display: flex;
  width: 20%;
}

.form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todo-input, .todo-button, .category-input, .category-button, .search-input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(223, 218, 210);
}

.todo-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: 'space-between';
}

.todo-input {
  width: 100%;
}

.filter-container {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  width: 100%;
}

.todo-button, .category-button, .search-button {
  color: #d88771;
  background: rgb(223, 218, 210);
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-button:hover, .category-button:hover {
  color: rgb(223, 218, 210);
  background: #d88771;
}

.todo-container, .category-block {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.todo-block, .todo-container {
  display: flex;
  flex-direction: column;
}

.todo-block h2 {
  align-self: center;
}

.control-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.control-first-row label {
  font-size: 15px;
  margin-left: 4px;
}

.control-second-row label {
  font-size: 24px;
  margin-left: 4px;
}

.category-block {
 width: 30%;
 display: flex;
 flex-direction: column;
}

.todo-list, .category-list {
  list-style: none;
}

.todo, .category {
  margin: 0.5rem;
  background:rgb(223, 218, 210);
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo {
  padding: 10px;
  min-width: 80%;
  margin-top: 60px;
}

.control-button {
    width: 32px;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.control-button-container {
  display: flex;
}

.category-block, .todo-block {
  background: #d8877194;
  border-radius: 20px;
  margin: 30px 20px;
  height: 70vh;
}

select {
  height: 44px;
}

.todo-block {
  width: 60%;
  padding: 60px 32px;
}

.category-block {
  width: 40%;
}

.todo li, .category li {
  flex: 1;
  width: 100%;
}

.delete-btn, .complete-btn {
  color: rgb(223, 218, 210);
  background: #e35637a0;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.complete-btn {
  background: rgb(134, 149, 111);
}

.todo-item, .category-item {
  padding: 0rem 0.5rem;
}

.todo-item {
  /* min-width: 50% */
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  opacity: 0.5;
}
.completed .todo-item {
  text-decoration: line-through;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
}

select {
  color: #d88771;
  width: 10rem;
  cursor: pointer;
  padding: 4px;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #d88771;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after {
  background: rgb(223, 218, 210);
  color: #d88771;
  transition: all 0.3s ease;
}
